<template>
  <div style="display: flex">
    <v-chip-group column active-class="primary--text">
      <div v-for="(tag, index) in controlBar.tags" :key="index + tag.value">
        <v-chip style="margin:5px" outlined :disabled="!tag.status" v-if="tag.value === '推送訊息'" @click="click_push_message">
          <v-icon color="grey">{{tag.icon}}</v-icon>{{ tag.value }}
        </v-chip>
        <v-chip style="margin:5px" outlined :disabled="!tag.status" v-else>
          <v-icon color="grey">{{tag.icon}}</v-icon>{{ tag.value }}
        </v-chip>
      </div>
    </v-chip-group>
    <v-switch v-model="controlBar.edit_status" label="編輯" style="margin: 8px;max-height: 5px" @change="setPermissionDialogStatus"></v-switch>
    <permissionDialog/>
    <pushMessageDialog/>
  </div>
</template>

<script>
import permissionDialog from '../../dialog/permissionDialog/permissionDialog.vue'
import pushMessageDialog from '../../dialog/pushMessageDialog/pushMessageDialog.vue'
export default {
  name: 'controlBar',
  data: () => ({
    controlBar: {}
  }),
  components: {
    permissionDialog,
    pushMessageDialog
  },
  created () {
    this.controlBar = this.$store.state.controlBar
  },
  methods: {
    click_push_message () {
      this.$store.commit('setPushMessageDialogStatus', true)
    },
    setPermissionDialogStatus () {
      if (this.controlBar.edit_status) {
        this.$store.commit('setPermissionDialogStatus', true)
        this.$store.commit('setSaveBtnStatus', true)
      } else {
        this.$store.commit('setSaveBtnStatus', false)
      }
    }
  }
}
</script>

<style scoped>

</style>
