<template>
  <v-dialog persistent v-model="pushMessageDialog.status" max-width="500px">
    <v-card>
      <v-card-title class="overline">
        Push Messages
      </v-card-title>
      <v-divider></v-divider>
      <v-card-text>
        <v-switch v-model="pushMessageDialog.default_message" inset label="開團卡"></v-switch>
        <v-text-field v-model="pushMessageDialog.custom_message" label="自訂" outlined :hidden="pushMessageDialog.default_message"></v-text-field>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-btn outlined color="grey" @click="cancel">Cancel</v-btn>
        <v-btn outlined color="primary" @click="sendMessage">Submit</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import axios from 'axios'
export default {
  name: 'pushMessageDialog',
  data: () => ({
    pushMessageDialog: {}
  }),
  created () {
    this.pushMessageDialog = this.$store.state.pushMessageDialog
  },
  methods: {
    sendMessage () {
      if (this.pushMessageDialog.default_message) {
        let data = {
          id: 'Cd9aaa79479bea46cd45bd6a0bd66c39b',
          imageUrl: this.$store.state.joinCard.img,
          quota: this.$store.state.joinCard.quota,
          messageName: this.$store.state.joinCard.name,
          accessToken: this.$store.state.joinCard.groupKey
        }
        axios.post(process.env.VUE_APP_LINE_BOT_FLEX_URL, data).then(res => {
          this.$store.commit('setSnackBar',
            {
              icon: 'far fa-check-circle',
              color: 'primary',
              status: true,
              text: 'Message was sent',
              timeout: 2000
            })
          this.cancel()
        })
      } else {
        let data = {
          id: 'Cd9aaa79479bea46cd45bd6a0bd66c39b',
          message: this.pushMessageDialog.custom_message
        }
        axios.post(process.env.VUE_APP_LINE_BOT_URL, data).then(res => {
          this.$store.commit('setSnackBar',
            {
              icon: 'far fa-check-circle',
              color: 'primary',
              status: true,
              text: 'Message was sent',
              timeout: 2000
            })
          this.cancel()
        })
      }
    },
    cancel () {
      this.pushMessageDialog.status = false
    }
  }
}
</script>

<style scoped>

</style>
